/**
 * Comments Template
 * --------------------------------------------------------------------------- */

/* ====== Accordion ======= */

// Variables
$dark-gray: #303030 !default;

// Component Sass
.accordion-header {
	border-bottom: 1px solid $dark-gray;
	cursor: pointer;
	font-size: 2em;
	padding: 10px 0 10px 30px;
	position: relative;
	text-align: left;
	width: 100%;

	&:before {
		content: "+";
		left: 5px;
		position: absolute;
		top: 5px;
	}

	&.is-active {
		&:before {
			content: "-";
		}
	}
}

.js .accordion-content {
	display: none;

	&.is-active {
		border-bottom: 1px solid $dark-gray;
		display: block;
	}
}

/* ====== Modal ======= */

// Breakpoints
$bp-small:          40.625em !default;      // 650px
$bp-medium:         53.125em !default;      // 850px
$bp-large:          62.5em !default;        // 1000px

// Imports
@import 'flexbox-mixins';

// Namespace, if you want it (update the HTML too though)
$ns: '' !default;

// Variables
$modal-overlay--bg:                 rgba(0, 0, 0, .666) !default;
$modal-overlay--padding:            1.5625em !default; // 25px

$modal--bg:                         #fff !default;

$modal--max-width:                  50em !default; // 800px
$modal--min-width:                  16.875em !default; // 270px
$modal--padding:                    2em !default; // 32px

$modal--z-index:                    99 !default;

$modal__close--size:                2em !default;
$modal__close--padding:             4px !default;
$modal__close--offset:              28px !default;

// Component Sass

// to prevent the document from scrolling in the background,
// we need these rules in place when a modal is open
.modal-is-open,
.modal-is-open body {
	height: 100%;
	overflow: hidden;
	position: absolute;
	width: 100%;
}

//
.js .#{$ns}modal-overlay,
.js .#{$ns}a11y-modal {
	@include flexbox();
	box-sizing: border-box;
	background: $modal-overlay--bg;
	height: 100%;
	left: 0;
	opacity: 0;
	overflow: auto;
	padding: $modal-overlay--padding;
	position: fixed;
	top: 0;
	transition: opacity .2s ease-in-out;
	visibility: hidden;
	width: 100%;
	z-index: -1;

	&[aria-hidden="false"] {
		opacity: 1;
		visibility: visible;
		z-index: $modal--z-index;

		.#{$ns}modal {
			transform: scale(1) translateY(0px);
		}
	}
}

// the actual modal content block
.#{$ns}modal {
	box-sizing: border-box;
	background: $modal--bg;
	margin: auto;
	max-height: 90%;
	max-width: $modal--max-width;
	min-width: $modal--min-width;
	overflow: auto;
	overflow-x: hidden;
	padding: $modal--padding;
	position: relative;
	transform: scale(0.8) translateY(-30px);
	transition: transform .3s ease-in-out;
	width: 100%;

	&--full-width {
		max-width: 100%;
	}

	&--content-scroll {
		overflow: hidden;

		.#{$ns}modal__content {
			height: 300px;
			overflow: auto;
			transition: height .2s ease-in-out;

			@media screen and ( min-height: $bp-small ) {
				height: 400px;
			}

			@media screen and ( min-height: $bp-medium ) {
				height: 600px;
			}

			@media screen and ( min-height: $bp-large ) {
				height: 700px;
			}
		}
	}

}

.#{$ns}modal__outro {

	&__close {
		cursor: pointer;
		font-size: $modal__close--size;
		line-height: 1;
		padding: $modal__close--padding;
		position: absolute;
		right: $modal__close--offset;
		text-decoration: none;
		top: $modal__close--offset;
	}
}

// CSS for when there is no JavaScript
.no-js .no-js-hide-modal,
.no-js button[data-action='modal-open'] {
	display: none;
}

.no-js .no-js-hide-modal:target {
	display: block;
}

/* ====== Social Links ======= */

// Variables
$color-white: #fff;

$color-facebook: #3b5998;
$color-twitter: #1da1f2;
$color-linkedin: #0077B5;
$color-pinterest: #c92228;

// Mixins
@mixin social_link( $service, $color ) {

	&[href*="#{$service}"] {
		background-color: $color;
		border-radius: 2px;
		color: $color-white;
		transition: background-color linear .2s;

		&:hover {
			background-color: darken( $color, 15 );
		}

	}

}

.screen-reader-text {
	clip: rect(1px, 1px, 1px, 1px);
	position: absolute !important;
	height: 1px;
	width: 1px;
	overflow: hidden;
}

.social-links {

	&__list {
		list-style: none;
		margin: 0;
		padding: 0;
	}

	&__item {
		display: inline-block;
	}

	&__link {
		display: block;
		padding: 6px 12px;
		text-decoration: none;

		// If you want to add an icon with CSS
		&:before {
			// content: "";
		}

		// Style hooks into each link
		@include social_link( facebook, $color-facebook );
		@include social_link( twitter, $color-twitter );
		@include social_link( linkedin, $color-linkedin );
		@include social_link( pinterest, $color-pinterest );

	}

	&__text {
		// Style hook into the text
	}

} // .social-links

/* ====== Tabs ======= */

// Breakpoints
$bp-small:          40.625em !default;      // 650px
$bp-medium:         53.125em !default;      // 850px
$bp-large:          62.5em !default;        // 1000px

// Variables
$color-gray: #777 !default;
$color-gray-light: #ccc !default;
$color-white: #fff !default;

// Component Sass
.tab-list {
	list-style: none;
	margin: 0;
	overflow: auto;
	padding: 0;
	position: relative;
	white-space: nowrap;
} // .tab-list

.tab-item {
	display: inline-block;

	> a {
		border: 1px solid $color-gray;
		display: inline-block;
		padding: 10px 15px;
		text-decoration: none;
		padding: 5px 8px;

		@media ( min-width: $bp-small ) {
			padding: 10px 15px;
		}

		&:hover,
		&:focus {
			background: $color-gray-light;
		}
	}

	&.is-active {
		a {
			background: $color-white;
			position: relative;
			z-index: 1;
			border-bottom-color: $color-white;
		}
	}

} // .tab-item

.tab-group {
	border: 1px solid $color-gray;
	margin-top: -1px;
} // .tab-group

.tab-content {
	padding: 15px;

	&[aria-hidden="true"] {
		left: -999em;
		position: absolute;
		top: -999em;
	}

	&.is-active {
		position: static;
	}
} // .tab-content