/**
 * Content
 * --------------------------------------------------------------------------- */

/* ====== BREADCRUMBS ====== */

.breadcrumbs {
	background-color: $color-white;
	font-size: 1.6rem;
	padding: 1em;
	border-bottom: $site-border;
	display: flex;
	flex-wrap: wrap;
	@include scale(padding-left,padding-right);

	.trail-begin {}

	.trail-end {}

	.sep {}

	a {}
	a:hover {}

	ul {
		display: flex;
		flex-wrap: wrap;
		list-style-type: none;
		margin: 0;
		padding: 0;

		li {
			margin-right: 0.2em;
			margin-bottom: 0;

			&:first-of-type {
				margin-left: 0;
			}

			&:last-of-type {

				&:after {
					display: none;
				}
			}

			&:after {
				content: "/";
				margin-left: 0.2em;
			}
		}
	}
}


/* ====== Attachment Meta (on image attachment pages) ====== */

.attachment-meta {}

.attachment-meta .image-gallery {}

.attachment-meta .image-info {}

.image-info ul {}

.image-info ul li {}

.image-info .prep {}

.image-info .image-data {}


/* ====== LOOP META ====== */

.loop-meta {}

.loop-title {}

.loop-description {}


/* ====== PAGINATION ====== */

/* === Single posts using <!--nextpage--> === */

.page-links {}

.page-links .before {}

.page-links a {}
.page-links a:hover {}

/* === Single post navigation (between different posts) === */

.loop-nav {
	font-size: 1.6rem;
	background-color: $color-white;
	@include scale(padding,margin-top);
}

.loop-nav a {}
.loop-nav a:hover {}

.loop-nav a[rel="prev"] {}

.loop-nav a[rel="next"] {}

/* === Archive-type pages === */

.archive-header {
	background-color: $color-white;
	@include scale(padding,margin-bottom);
	p {
		margin: 0.5em 0 0;
		font-size: 1.6rem;
	}
}

.archive-title {
	margin: 0;
	font-size: 2rem;
}

.pagination {
	background-color: $color-white;
	@include scale(padding, margin-top);
}

.loop-pagination .page-numbers {}

.loop-pagination a.page-numbers {}
.loop-pagination a.page-numbers:hover {}

.page-numbers.current {}

